@import 'settings';
@import 'foundation';
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Chivo:300,300i,400,400i,700');

/* @include foundation-grid;  */

html {
    height: 100%;
}

body, #app {
    margin: 0px;
    padding: 0px;
    background: #fff;
    font-size: 14px;
    line-height: 20px;
    color: #333;
    height: 100%;
    text-shadow: none;
    overflow: hidden;
    font-family: 'Source Sans Pro', sans-serif;
}
*,*:before,*:after{
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.3);
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background-color: rgba(117, 116, 116, 0.4);
}

::-webkit-scrollbar-thumb:window-inactive {
    background-color: #ccc
}

::-moz-selection { /* Code for Firefox */
    color: #fff;
    background: #999;
}

::selection {
    color: #fff;
    background: #999;
}

.green {
  color: #8DC73F;
}

.blue {
  color: #336E8D;
}

.pagination_loading {
  text-align: center;
  margin-top: 50px;
}

.login {
    z-index: 20;
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background-image: -ms-radial-gradient(center, ellipse farthest-corner,rgba(49,104,144,1) 0%, rgba(15,20,39,1) 100%);
    background-image: -moz-radial-gradient(center, ellipse farthest-corner, rgba(49,104,144,1) 0%, rgba(15,20,39,1) 100%);
    background-image: -o-radial-gradient(center, ellipse farthest-corner, rgba(49,104,144,1) 0%, rgba(15,20,39,1) 100%);
    background-image: -webkit-gradient(radial, center center, 0, center center, 286, color-stop(0, rgba(15,20,39,1)), color-stop(100, rgba(49,104,144,1)));
    background-image: -webkit-radial-gradient(center, ellipse farthest-corner, rgba(49,104,144,1) 0%, rgba(15,20,39,1) 100%);
    background-image: radial-gradient(ellipse farthest-corner at center, rgba(49,104,144,1) 0%, rgba(15,20,39,1) 100%);
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus
  input:-webkit-autofill,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    -webkit-transition-delay: 9999s;
    -webkit-transition: color 9999s ease-out, background-color 9999s ease-out !important;
  }

  .visit-main,
  .visit-main:hover {
    color: #FFFFFF;
  }

  #intercom-container .intercom-launcher {
    background: #FFFFFF !important
  }

.full-height{
  height: 100%;
}

.clear {
    clear: both;
}

.inline{
    display: inline-block;
    vertical-align: top;
}

.row-fluid {
    width: 100%;
}

.container {
    width: 1170px;
    margin: 40px auto;
}

.outer {
    height: 100%;
    position: relative;
}

img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
}

a {
    color: #08c;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h6 {
    font-weight: 400;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="email"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    display: inline-block;
    height: 20px;
    padding: 4px 6px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px;
    color: #555;
    vertical-align: middle;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

input[type=text],
textarea,
input[type="password"],
input[type="email"],
input[type="number"] {
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: none;
    -webkit-transition: border linear .2s, box-shadow linear .2s;
    -moz-transition: border linear .2s, box-shadow linear .2s;
    -o-transition: border linear .2s, box-shadow linear .2s;
    transition: border linear .2s, box-shadow linear .2s;
    display: block;
    height: 25px;
    padding: 4px 10px;
    margin: 15px 10px;
    font-size: 14px;
    line-height: 20px;
    color: #666;
    vertical-align: middle;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    width: 90%;
}


input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

textarea:focus,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    border-color: rgba(82, 168, 236, 0.8);
    outline: 0;
}

a {
  color: #8DC73F;
}

select {
    background-color: #fff;
    border: 1px solid #ccc !important;
    box-shadow: none;
    -webkit-transition: border linear .2s, box-shadow linear .2s;
    -moz-transition: border linear .2s, box-shadow linear .2s;
    -o-transition: border linear .2s, box-shadow linear .2s;
    transition: border linear .2s, box-shadow linear .2s;
    display: block;
    height: 35px;
    padding: 4px 10px;
    margin: 15px 10px;
    font-size: 14px;
    line-height: 20px;
    color: #666;
    vertical-align: middle;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    width: 93.5%;
}

.btn {
    height: 35px;
    border: none;
    font-size: 14px;
    background: #ff6600;
    color: #fff;
    cursor: pointer;
    margin: 5px;
    text-shadow: none;
    padding: 0px 20px;
    text-align: center;
    line-height: 34px;
    display: inline-block;
    width: 100px;
    border-radius: 4px;
}

.btn:hover {
    background-color: #ED6103;
}

/*sidebar section*/
.side_bar{
    width: 168px;
    height: 100%;
    background-color: #fcfcfc;
    text-align: left;
    max-width: 168px;
    /*padding: 30px 50px;*/
    padding: 0px;
}
.logo{
    padding: 50px 30px 30px;
}
.menu {
    margin: 0px;
}
.menu ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
.menu ul li {
    margin: 0px;
    padding-left: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 24px
}

.menu ul li.active {
    background-color: #8DC73F;
    color: #fff;
}

.menu ul li.active a {
    color: #fff;
}

.menu ul li a {
    color: #8DC73F;
}

.menu ul li a {
    text-decoration: none;
    color: #9ac051;
    font-weight: bold;
    padding: 15px 0px;
    cursor: pointer;
}
.menu ul li:hover {
    background-color: #c2e691;
}

.menu ul li:hover a {
    color: #fff;
}

/*content section*/
.content{
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: white;
}
.outer_wrapper{
    width: calc(100% - 168px);
    margin-left: -4px;
    height: 100%;
    z-index: 0;
    background-color: white;
    display: inline-block;
    vertical-align: top;
}
/*topbar section*/
.top_bar{
    width: 100%;
    text-align: right;
    padding: 27px 35px;
    z-index: 1;
    position: relative;
    height: 88px;
}
.menu_icon {
  cursor: pointer;
}
.menu_icon.left {
  padding-right: 20px
}
.top_bar .menu_icon{
    width: 24px;
    height: 24px;
    background-image: url("../images/menu.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    top: 30px;
    display: none;
    cursor: pointer;
    -webkit-transition: 0.5s all linear;
    -moz-transition: 0.5s all linear;
    -ms-transition: 0.5s all linear;
    -o-transition: 0.5s all linear;
    transition: 0.5s all linear;
}
.top_bar .back_icon{
    width: 24px;
    height: 24px;
    background-image: url("../images/back.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    top: 35px;
    cursor: pointer;
    -webkit-transition: 0.5s all linear;
    -moz-transition: 0.5s all linear;
    -ms-transition: 0.5s all linear;
    -o-transition: 0.5s all linear;
    transition: 0.5s all linear;
}
.top_bar .offer_head{
    position: absolute;
    // width: 91px;
    height: 31px;
    left: 24px;
    top: 28px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 24px;
    color: #0A5074;
}
.top_bar .top_logo{
    width: 100px;
    height: 30px;
    background-image: url("../images/logo.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    top: 27px;
    left: calc(50% - 50px);
    display: none;
    -webkit-transition: 0.5s all linear;
    -moz-transition: 0.5s all linear;
    -ms-transition: 0.5s all linear;
    -o-transition: 0.5s all linear;
    transition: 0.5s all linear;
}
.top_bar .back{
    width: 20px;
    height: 20px;
    background-image: url(../images/back.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    top: 43px;
    right: 135px;
    display: none;
    cursor: pointer;
    -webkit-transition: 0.5s all linear;
    -moz-transition: 0.5s all linear;
    -ms-transition: 0.5s all linear;
    -o-transition: 0.5s all linear;
    transition: 0.5s all linear;
}
.top_bar .search{
    width: 200px;
    height: 45px;
    background-color: white;
    margin-right: 15px;
    border: 2px solid #8DC73F;
    border-radius: 25px;
    overflow: hidden;
    -webkit-transition: 0.5s all linear;
    -moz-transition: 0.5s all linear;
    -ms-transition: 0.5s all linear;
    -o-transition: 0.5s all linear;
    transition: 0.5s all linear;
}
.top_bar .search .search_icon{
    width: 24px;
    height: 24px;
    background-image: url(../images/search.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 38px;
    right: 249px;
    -webkit-transition: 0.5s all linear;
    -moz-transition: 0.5s all linear;
    -ms-transition: 0.5s all linear;
    -o-transition: 0.5s all linear;
    transition: 0.5s all linear;
}
.top_bar .search input[type='text']{
    margin: 0px;
    padding: 0px;
    border-radius: 0px;
    border: none;
    width: 100%;
    color: #8DC73F;
    padding-left: 45px;
    padding-right: 10px;
    height: 40px;
    -webkit-transition: 0.5s all linear;
    -moz-transition: 0.5s all linear;
    -ms-transition: 0.5s all linear;
    -o-transition: 0.5s all linear;
    transition: 0.5s all linear;
}
.top_bar .search .search_close{
    width: 24px;
    height: 24px;
    background-image: url("../images/cancel.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 38px;
    right: 105px;
    display: none;
    cursor: pointer;
}
.top_bar.searching .search .search_icon{
    display: none;
}
.top_bar.searching .search input[type='text']{
    padding-left: 15px;
    padding-right: 30px;
}

.top_bar.searching .search .search_close{
    display: block;
}
.user{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    background-image: url("../images/user.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.user_drop{
    position: absolute;
    top: 35px;
    right: 0px;
    height: 0px;
    overflow: hidden;
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0);
    -webkit-transition: 0.6s all ease;
    -moz-transition: 0.6s all ease;
    -ms-transition: 0.6s all ease;
    -o-transition: 0.6s all ease;
    transition: 0.6s all ease;
    cursor: pointer;
}

.offering_user_drop {
  right: 20px;
}

.offering_user_drop ul{
  width: 150px;
}

.user:hover .offering_user_drop {
  height: 60px !important;
}

.user:hover .user_drop{
    height: 30px;
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.15);
}
.user_drop ul{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
.user_drop ul li{
    margin: 0px;
    background-color: white;
    padding: 5px 20px;
    cursor: pointer;
    font-size: 13px;
    text-align: left;
}
.user_drop ul li.filter_menu{
    display: none;
}
.user_drop ul li:hover{
    background-color: #f8f8f8;
}

/*list section*/
.list{
    width: 100%;
    height:calc(100% - 88px);
    overflow: auto;
}
.table{
    width: calc(100% - 168px);
}
ul{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
ul li{
    margin: 0px;
    left: 0px;
}
.row-custom {
    width: 100%;
    padding: 15px 0px;
    position: relative;
    display: none;
}
.row-custom.show{
    display: block;
    cursor: pointer;
    padding: 15px 24px;
}
.row-custom.show:hover{
    background-color: rgba(239, 239, 239, 0.25);
}
.row-custom:before{
    width: 93%;
    height: 1px;
    position: absolute;
    bottom: 0px;
    left: 7%;
    background-color: #f1f1f1;
    content: '';
}
.icon_column {
    width: 55px;
    display: inline-block;
    vertical-align: top;
    text-align: left;
}
.icon {
    width: 40px;
    height: 40px;
    /*background: yellowgreen;*/
    border-radius: 50%;
    color: white;
    font-size: 24px;
    padding-top: 10px;
    text-align: center;
    /*margin: auto;*/
    background: #44D2B6;
    background: -webkit-linear-gradient(135deg, #B7E143 0%, #4CC73F 100%);
    background: -o-linear-gradient(135deg, #B7E143 0%, #4CC73F 100%);
    background: -moz-linear-gradient(135deg, #B7E143 0%, #4CC73F 100%);
    background: linear-gradient(135deg, #B7E143 0%, #4CC73F 100%)
}
.icon_2 {
    width: 40px;
    height: 40px;
    /*background: yellowgreen;*/
    border-radius: 50%;
    color: white;
    font-size: 24px;
    padding-top: 10px;
    text-align: center;
    /*margin: auto;*/
    background: #44D2B6;
    background: -webkit-linear-gradient(135deg, #44D2B6 0%, #299AA9 100%);
    background: -o-linear-gradient(135deg, #44D2B6 0%, #299AA9 100%);
    background: -moz-linear-gradient(135deg, #44D2B6 0%, #299AA9 100%);
    background: linear-gradient(135deg, #44D2B6 0%, #299AA9 100%)
}
.table .row-custom:nth-child(even) .icon{
    background-color: #58afad;
}
.name_column {
    width: 42%;
    display: inline-block;
    vertical-align: top;
    margin-left: 70px;
}
.name {
    font-weight: 700;
    color: #245776;
    font-size: 20px;
    line-height: 24px;
    display: inline-block;
    vertical-align: top;
    width: 60%;
}
.name_read {
    color: #245776;
    font-size: 20px;
    line-height: 24px;
    display: inline-block;
    vertical-align: top;
    width: 40%;
}
.small_section {
    width: 100%;
}
.sub_title {
    // width: 120px;
    display: inline-block;
    vertical-align: top;
    color: #cccccc;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}
.sub_text {
    // width: 100px;
    padding-left: 10px;
    display: inline-block;
    vertical-align: top;
    color: #728d9b;
    font-size: 14px;
    line-height: 20px;
}
.type_column {
    width: 25%;
    display: inline-block;
    vertical-align: top;
    text-align: right;
}
.type{
    color: #afcd76;
    font-size: 14px;
    /*font-weight: 500;*/
    display: inline-block;
    vertical-align: top;
    width: 29%;
    text-align: right;
    line-height: 35px;
}
.type2{
    color: #44C6D2;
    font-size: 14px;
    /*font-weight: 500;*/
    display: inline-block;
    vertical-align: top;
    width: 29%;
    text-align: right;
	line-height: 35px;
}
.type.text_bold,
.type2.text_bold{
    font-weight: bold;
}
.filter_section{
    position: absolute;
    width: 168px;
    height: 90px;
    top: 85px;
    right: 0px;
}
.filter_head{
    color: #738e9d;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}
.sort_head {
  font-weight: bold;
  font-size: 12px;
  line-height: 24px;
}
.mobile_sort_section {
  display: block;
}
.mobile_sort_section:after {
  content:' ';
  display:block;
  border:1px solid #d0d0d0;
  margin-top: 20px;
  border-radius:4px;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
  -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
  -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
}
.logout_section{
    display: none;
}
.filter{
    height: 30px;
    margin-bottom: 1px;
    padding-top: 5px;
}
.filter_closed{
    height: 30px;
    margin-bottom: 1px;
    padding-top: 5px;
}
.check_box{
    border-radius: 3px;
    width: 17px;
    height: 17px;
    background-image: url("../images/blank_check_box.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.filter.active .check_box{
    background-image: url("../images/check_box.png");
}
.filter_closed.active .check_box{
    background-image: url("../images/check_box.png");
}
.ta-left {
    a {
      font-weight: bold;
    }
}
.edit-header {
  font-style: italic;
  font-size: 12px;
  line-height: 16px;
}
.check_box input{
    width: 16px;
    height: 16px;
    padding: 0;
    margin: 0;
    opacity: 0;
}
.filter_label {
    font-size: 14px;
    margin-left: 10px;
    font-weight: bold;
    color: #ccd8b2;
}
.filter.active .filter_label{
    color: #9ac051;
}
.filter_closed.active .filter_label{
    color: #9ac051;
}
.logout_section .filter_label{
    color: #9ac051;
    margin-left: 0px;
}
.logout_section .filter_head{
    margin-top: 15px;
}
.overlay{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    background-color:rgba(0, 0, 0, 0.45);
    display: none;
}

.large-hidden {
  display: none;
}

#searchInput::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #C8DBAF;
}
#searchInput::-moz-placeholder { /* Firefox 19+ */
    color: #C8DBAF;
}
#searchInput:-ms-input-placeholder { /* IE 10+ */
    color: #C8DBAF;
}
#searchInput:-moz-placeholder { /* Firefox 18- */
    color: #C8DBAF;
}
@media only screen and (max-width: 1350px) {
    .name_column {
        width: 42%;
    }
    .type_column {
        width: 25%;
    }
}
@media only screen and (max-width: 1300px) {
	.name{
		width:50%;
	}
	.type, .type2{
		width: 29%;
	}
	.name_column {
    width: 42%;
	}
	.sub_text {
    width: 60px;
	}
	.type_column .sub_title {
    width: 70px;
	}
}
@media only screen and (max-width: 980px){
	.type, .type2 {
    width: 45%;
	}
	.name_column,.type_column{
	margin-left: 70px;
	text-align: left;
	}
  .type_column{
    width: 28.7%;
  }
	.sub_title, .type_column .sub_title{
		width:50%;
	}
	.sub_text{
		width:50%;
		margin-left:-4px;
		text-align:right;
	}
}
@media only screen and (max-width: 820px){
  .mobile_sort_section {
    display: none;
  }
  .menu_icon.left {
    padding-right: 0px
  }
  .sub-info {
    font-size: 12px !important;
  }
	.outer{
		z-index:1;
	}
	.side_bar{
		position:fixed;
		top:0px;;
		left:-168px;
		width:168px;
		z-index:2;
        -webkit-transition: 0.5s all linear;
        -moz-transition: 0.5s all linear;
        -ms-transition: 0.5s all linear;
        -o-transition: 0.5s all linear;
        transition: 0.5s all linear;
	}
    .side_bar.open{
        left: 0px;
    }
	.content {
    width: 100%;
    margin-left: 0px;
	}
  .outer_wrapper{
      width: 100%;
      margin-left: 0px;
  }
    .top_bar .menu_icon{
        display: block;
        width: 18px;
        height: 12px;
        top: 22px;
    }
    .top_bar .back_icon{
        display: block;
        width: 18px;
        height: 12px;
        top: 22px;
    }
    .top_bar.open .back_icon{
      left: -45px;
    }
    .top_bar.open .offer_detail_head{
      left: -268px;
    }
    .side_bar .logo{
        display: none;
    }
    .profile{
        width: 100%;
        margin-bottom: 30px;
        padding: 50px 0px;
        text-align: center;
        background: #8dc73f; /* For browsers that do not support gradients */
        /*background: -webkit-linear-gradient(left, #ffffff , #eeeeee); !* For Safari 5.1 to 6.0 *!*/
        /*background: -o-linear-gradient(right, #ffffff, #eeeeee); !* For Opera 11.1 to 12.0 *!*/
        /*background: -moz-linear-gradient(right, #ffffff, #eeeeee); !* For Firefox 3.6 to 15 *!*/
        /*background: linear-gradient(to right, #ffffff , #eeeeee); !* Standard syntax *!*/
    }
    .profile_icon{
        width: 35px;
        height: 35px;
        border-radius: 50%;
        position: relative;
        cursor: pointer;
        margin: auto;
        background-image: url("../images/user.svg");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .top_bar .search{
        width: 40px;
        height: 34.98px;
        border-color: transparent;
        margin-top: -5px;
    }
    .search_icon {
      cursor: pointer;
    }
    .search_close {
      cursor: pointer;
    }
    .top_bar .search .search_icon {
        right: 90px;
        top: 31px;
        width: 20px;
        height: 20px;
    }
    .top_bar.open .search{
        width: 82%;
        border-color: #d1dcba;
    }
    .top_bar.open .search .search_icon{
        right: 80%;
        top: 40px;
    }
    .top_bar.open .back{
        display: block;
        right: 90%;
    }
    .top_bar.open .menu_icon{
        left: -45px;
    }
    .filter_section {
        top: 95px;
    }
    .top_bar .search .search_close {
        top: 45px;
        width: 20px;
        height: 20px;
    }
    .top_bar .top_logo{
        display: block;
        width: 77.74px;
        height: 24px;
        top: 16px;
    }
    .top_bar.open .top_logo{
        left: -168px;
    }
    .name {
        line-height: 24px;
        font-size: 18px;
    }
    .tab-left-label {
      margin-left: 20px;
      height: 32px;
      width: 184px;
      padding-top: 4px;
      text-align: center;
  }
  .tab-label {
    height: 32px;
    width: 184px;
    padding-top: 4px;
    text-align: center;
}
  .top_bar .offer_detail_head {
    top: 12px !important;
    max-width: 260px;
    min-width: 259px;
    padding-left: 24px !important;
    overflow: hidden;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 18px !important;
    text-align: left;
    .sub {
      font-size: 12px;
      margin-top: -14px;
      font-family: Chivo;
    }
  }
  .top_bar .investor_detail_head {
    top: 12px !important;
    padding-left: 24px !important;
    font-size: 20px !important;
    .sub {
      font-size: 12px;
      margin-top: -14px;
      font-family: Chivo;
    }
  }
  .menu ul li {
    margin-right: 0px
  }
  .tabs label {
    padding: 5px 25px !important;
  }
}
@media only screen and (max-width: 768px){
  .large-hidden {
    display: block;
  }
  .mobile_sort_section {
    display: block;
  }
    .tbl-wrapper {
      padding-left: 24px !important;
      padding-right: 24px !important;
    }
    .filter_section {
        top: auto;
        width: 100%;
        height: 190px;
        background: white;
        margin: 0px;
        padding: 20px 40px;
        left: 0px;
        bottom: -190px;
        z-index: 2;
        -webkit-transition: 0.5s all linear;
        -moz-transition: 0.5s all linear;
        -ms-transition: 0.5s all linear;
        -o-transition: 0.5s all linear;
        transition: 0.5s all linear;
    }
    .filter_section.offering_detail{
        bottom: -490px;
    }
    .filter_section.open{
        bottom: 0px;
    }
    .filter_section.open.offering_detail{
        height: 490px;
    }
    .table {
        width: 100%;
        margin: auto;
    }
    .user:hover .user_drop{
        height: 0px;
    }
    .user:hover .offering_user_drop {
      height: 0px !important;
    }
    .user_drop ul li.filter_menu{
        display: none;
    }
    .top_bar.open .top_logo{
        left: -20%;
    }
    .logout_section{
        display: block;
    }
    .offer_head{
        display: none;
    }
}
@media only screen and (max-width: 450px) {
    .tbl-wrapper {
      padding-left: 24px !important;
      padding-right: 24px !important;
    }
    .icon_column {
        width: 50px;
    }
    .name_column, .type_column {
        margin-left: 52px;
        width: 86%;
    }
    .top_bar {
        padding: 17px 25px;
        height: 56px;
    }
    .top_bar .search{
        margin-right: 10px;
    }
    .top_bar .search .search_icon {
        right: 61px;
        width: 18px;
        height: 18px;
        top: 19px;
    }
    .top_bar .search .search_close {
      right: 70px;
      width: 18px;
      height: 18px;
      top: 19px;
    }
    .top_bar.open .search {
        width: 82%;
    }
    .top_bar.open .search .search_icon {
        right: 78%;
        top: 21px;
    }
    .top_bar.open .back {
        right: 88%;
        top:21px;
        width: 8px
    }
    .top_bar.open .top_logo {
        left: -35%;
    }
    .top_bar .search input[type='text'] {
      height: 30px;
      padding-left: 40px;
    }
}

.small-centered {
  margin-right: auto;
  margin-left: auto;
  float: none !important;
  clear: both;
}

/* renish */

.top_bar .offer_detail_head {
  position: absolute;
  height: 45px;
  padding-left: 50px;
  text-align: left;
  top: 28px;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  line-height: 32px;
  font-size: 24px;
  width: 100%;
  color: #8DC73F;
  -webkit-transition: 0.5s all linear;
  -moz-transition: 0.5s all linear;
  -ms-transition: 0.5s all linear;
  -o-transition: 0.5s all linear;
  transition: 0.5s all linear;
  cursor: pointer;
}

.top_bar .investor_detail_head {
  position: absolute;
  height: 50px;
  padding-left: 50px;
  top: 28px;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  line-height: 32px;
  min-width: 500px;
  text-align: left;
  font-size: 24px;
  color: #8DC73F;
  -webkit-transition: 0.5s all linear;
  -moz-transition: 0.5s all linear;
  -ms-transition: 0.5s all linear;
  -o-transition: 0.5s all linear;
  transition: 0.5s all linear;
  div {
    cursor: pointer;
  }
}
/**
 * Tabs
 */

.tabs {
    display: flex;
    flex-wrap: wrap;

}
.tabs label {
    order: 1;
    display: block;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    line-height: 24px;
    font-size: 14px;
    text-transform: uppercase;
    padding: 12px 24px;
    color: #8DC73F;
    transition: background ease 0.2s;
    cursor: pointer;
}
.tabs .tab {
    order: 99;
    flex-grow: 1;
    width: 100%;
    display: none;
    margin-left:20px;
    background: #fff;
    border-top: 1px solid #e0d8d8;

}
.tabs input[type="radio"] {
    display: none;
}
.tabs input[type="radio"]:checked + label {
    background: #8DC73F;
    color: #fff;
}
.tabs input[type="radio"]:checked + label + .tab {
    display: block;
}
.tab-left-label {
    margin-left: 20px;
}
@media (max-width: 45em) {} * {
    box-sizing: border-box;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
[class*="col-"] {
    float: left;
}

/* For mobile phones: */
    .col-sm-1 {width: 8.33%;}
    .col-sm-2 {width: 16.66%;}
    .col-sm-3 {width: 25%;}
    .col-sm-4 {width: 33.33%;}
    .col-sm-5 {width: 41.66%;}
    .col-sm-6 {width: 50%;}
    .col-sm-7 {width: 58.33%;}
    .col-sm-8 {width: 66.66%;}
    .col-sm-9 {width: 75%;}
    .col-sm-10 {width: 83.33%;}
    .col-sm-11 {width: 91.66%;}
    .col-sm-12 {width: 100%;}

    .ta-editable {padding-top:0px !important; padding-bottom:0px !important; padding-right:0px !important;}

    .tabs .tab {
        margin-left: 0px
    }

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}

    .ta-editable {padding-top:0px !important; padding-bottom:0px !important; padding-right:0px !important;}
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    .ta-editable {padding:0px !important;}
}

.col-padding {
    padding: 20px;
}

.info {
    width: 100%;
    height: calc(100% - 05px);
    overflow: auto;
}
.info-requested {
    background-color: #fcfcfc;
}
.info-titles {
    color: #678899;

    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    line-height: 20px;
    font-size: 14px;
}
.info-titles-email{
    color:#8DC73F;

    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    line-height: 20px;
    font-size: 15px;
}

.info-section{
     padding-top: 16px;
    padding-bottom:16px;
    padding-left: 24px;
    padding-right: 24px;
}
.info-title-main {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    line-height: 24px;
    font-size: 18px;
    color: #336E8D;
    padding-top: 16px;
    padding-bottom: 8px;
    padding-left: 24px;
    text-transform: capitalize;
}

.info-sub-titles{
    margin-top: 4px;
    font-family: Chivo;
font-style: normal;
font-weight: normal;
line-height: 20px;
font-size: 14px;

color: #CACACA;
}
.info-type-ipo {
  color: #8DC73F;
  font-family: Chivo;
  font-style: normal;
  font-weight: normal;
  line-height: 20px;
  font-size: 14px;
  text-align: right;
}

.info-type-secondary {
  color: #44C6D2;
  font-family: Chivo;
  font-style: normal;
  font-weight: normal;
  line-height: 20px;
  font-size: 14px;
  text-align: right;
}

.info-investors {
  font-family: Chivo;
  font-style: normal;
  font-weight: normal;
  line-height: 24px;
  font-size: 14px;
  text-decoration-line: underline;
  color: #8DC73F;
  cursor: pointer;
}


.info-sub-titles-value{
    margin-top: 4px;
    font-family: Chivo;
font-style: normal;
font-weight: normal;
line-height: 20px;
font-size: 14px;
text-align: right;
color: #678899;
}

.info-titles-value{
    margin-top: 4px;
    font-family: Chivo;
font-style: normal;
font-weight: normal;
line-height: 20px;
font-size: 14px;
color: #678899;
}

/* Offering detail table */

.tbl {
    width: 100%;
    border-collapse: collapse;
}
.tbl th {
    background: #fff;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid #EBEBEB;
    box-sizing: border-box;
    border-top: none;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    line-height: 20px;
    font-size: 16px;
    color: #0A5074;
    cursor: pointer;
}
.ta-center {
    text-align: center;
}
.ta-left {
    text-align: left;
    a {
      font-weight: bold;
    }
}
.ta-right {
    text-align: right;
}
td.ta-left {
    font-family: Chivo;
    font-style: normal;
    font-weight: normal;
    line-height: 20px;
    font-size: 13px;
    color: #8DC73F;
}
td.ta-right {
    font-family: Chivo;
    font-style: normal;
    font-weight: normal;
    line-height: 20px;
    font-size: 13px;
    text-align: right;
    color: #678899;
}
.tbl td {
    border: 1px solid #EBEBEB;
    box-sizing: border-box;
    /*
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    */
}

.ta-editable-textarea {
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px;
    margin: 0px;
    border: 1px solid #8DC73F;
    border-radius: 0px;
    resize: none
}

@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {
  .user{
      height: 10px;
      width: 20px;
      top: 6px;
      background-image: url("../images/more.svg");
  }
  .filter_section.open.offering_detail{
      height: 490px;
  }
    .tbl,
    .tbl thead,
    .tbl tbody,
    .tbl th,
    .tbl td,
    .tbl tr {
        display: block;
    }
    .tbl thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    .tbl tr {
        border-left: 1px solid #C8DBAF;
        box-sizing: border-box;
        margin-top: 16px;
        margin-bottom: 16px;
        border-right: 1px solid #C8DBAF;
        border-top: 1px solid #C8DBAF;

    }
    .tbl td {
        border: none;
        border-bottom: 1px solid #C8DBAF;
        box-sizing: border-box;
        position: relative;
        padding-left: 48%;
    }
    .tbl td:before {
        position: absolute;
        left: 0px;
        width: 48%;
        white-space: nowrap;
    }
    td.ta-center,
    td.ta-left,
    td.ta-right {
        text-align: left;
        min-height: 40px;
    }
    .tbl-investors td:nth-of-type(1):before {
        content: "Investor Name";
        border-right: 1px solid #C8DBAF;
        padding: 10px;
        height: 100%;
    }
    .tbl-investors td:nth-of-type(2):before {
        content: "Account #";
        border-right: 1px solid #C8DBAF;
        padding: 10px;
        height: 100%;
    }
    .tbl-investors td:nth-of-type(3):before {
        content: "Buying Power";
        border-right: 1px solid #C8DBAF;
        padding: 10px;
        height: 100%;
    }
    .tbl-investors td:nth-of-type(4):before {
        content: "Requested";
        border-right: 1px solid #C8DBAF;
        padding: 10px;
        height: 100%;
    }
    .tbl-investors td:nth-of-type(5):before {
        content: "Approx Shares";
        border-right: 1px solid #C8DBAF;
        padding: 10px;
        height: 100%;
    }



    .tbl-investors-active td:nth-of-type(1):before {
        content: "Investor Name";
        border-right: 1px solid #C8DBAF;
        padding: 10px;
        height: 100%;
    }
    .tbl-investors-active td:nth-of-type(2):before {
        content: "Account #";
        border-right: 1px solid #C8DBAF;
        padding: 10px;
        height: 100%;
    }
    .tbl-investors-active td:nth-of-type(3):before {
        content: "Offerings";
        border-right: 1px solid #C8DBAF;
        padding: 10px;
        height: 100%;
    }
    .tbl-investors-active td:nth-of-type(4):before {
        content: "Buying Power";
        border-right: 1px solid #C8DBAF;
        padding: 10px;
        height: 100%;
    }
    .tbl-investors-active td:nth-of-type(5):before {
        content: "Requested";
        border-right: 1px solid #C8DBAF;
        padding: 10px;
        height: 100%;
    }



    .tbl-investors-closed td:nth-of-type(1):before {
        content: "Investor Name";
        border-right: 1px solid #C8DBAF;
        padding: 10px;
        height: 100%;
    }
    .tbl-investors-closed td:nth-of-type(2):before {
        content: "Account #";
        border-right: 1px solid #C8DBAF;
        padding: 10px;
        height: 100%;
    }
    .tbl-investors-closed td:nth-of-type(3):before {
        content: "Offerings";
        border-right: 1px solid #C8DBAF;
        padding: 10px;
        height: 100%;
    }
    .tbl-investors-closed td:nth-of-type(4):before {
        content: "Requested";
        border-right: 1px solid #C8DBAF;
        padding: 10px;
        height: 100%;
    }
    .tbl-investors-closed td:nth-of-type(5):before {
        content: "Allocated";
        border-right: 1px solid #C8DBAF;
        padding: 10px;
        height: 100%;
    }



    .tbl-order-list td:nth-of-type(1):before {
        content: "Investor Name";
        border-right: 1px solid #C8DBAF;
        padding: 10px;
        height: 100%;
    }
    .tbl-order-list td:nth-of-type(2):before {
        content: "Email";
        border-right: 1px solid #C8DBAF;
        padding: 10px;
        height: 100%;
    }
    .tbl-order-list td:nth-of-type(3):before {
        content: "Broker Dealer";
        border-right: 1px solid #C8DBAF;
        padding: 10px;
        height: 100%;
    }
    .tbl-order-list td:nth-of-type(4):before {
        content: "Amount Requested";
        border-right: 1px solid #C8DBAF;
        padding: 10px;
        height: 100%;
    }
    .tbl-order-list td:nth-of-type(5):before {
        content: "Share Requested";
        border-right: 1px solid #C8DBAF;
        padding: 10px;
        height: 100%;
    }
    .tbl-order-list td:nth-of-type(6):before {
        content: "Status";
        border-right: 1px solid #C8DBAF;
        padding: 10px;
        height: 100%;
    }



    .tbl-investors-detail-active td:nth-of-type(1):before {
        content: "Offering";
        border-right: 1px solid #C8DBAF;
        padding: 10px;
        height: 100%;
    }
    .tbl-investors-detail-active td:nth-of-type(2):before {
        content: "Anticipated";
        border-right: 1px solid #C8DBAF;
        padding: 10px;
        height: 100%;
    }
    .tbl-investors-detail-active td:nth-of-type(3):before {
        content: "Price";
        border-right: 1px solid #C8DBAF;
        padding: 10px;
        height: 100%;
    }
    .tbl-investors-detail-active td:nth-of-type(4):before {
        content: "Buying Power";
        border-right: 1px solid #C8DBAF;
        padding: 10px;
        height: 100%;
    }
    .tbl-investors-detail-active td:nth-of-type(5):before {
        content: "Requested";
        border-right: 1px solid #C8DBAF;
        padding: 10px;
        height: 100%;
    }


    .tbl-investors-detail-closed td:nth-of-type(1):before {
        content: "Offering";
        border-right: 1px solid #C8DBAF;
        padding: 10px;
        height: 100%;
    }
    .tbl-investors-detail-closed td:nth-of-type(2):before {
        content: "Allocated Date";
        border-right: 1px solid #C8DBAF;
        padding: 10px;
        height: 100%;
    }
    .tbl-investors-detail-closed td:nth-of-type(3):before {
        content: "Requested Amt";
        border-right: 1px solid #C8DBAF;
        padding: 10px;
        height: 100%;
    }
    .tbl-investors-detail-closed td:nth-of-type(4):before {
        content: "Allocated Amt";
        border-right: 1px solid #C8DBAF;
        padding: 10px;
        height: 100%;
    }
    .tbl-investors-detail-closed td:nth-of-type(5):before {
        content: "Allocated Shares";
        border-right: 1px solid #C8DBAF;
        padding: 10px;
        height: 100%;
    }


}

.td-data {
    padding:10px;
}

.tbl-wrapper {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 80px;
    padding-right: 80px;
}
.changes-status {
    float: right;
    margin-top: -20px;
}
.pull-left {
    text-align:left;
}
.pull-right {
    text-align:right;
}
.has-span {
    padding-bottom: 0px !important;
    text-align: right;
    .ascending {
      margin-top: -18px;
    }
    .descending {
      margin-top: -18px;
    }
    .editable {
      cursor: pointer;
    }
}
.sub {
  font-size: 14px;
  float: left;
  position: absolute;
  margin-top: -12px;
}
.sub-info {
    font-size: 14px;
    display: inline;
    color:#678899;
}
.table-input {
  height: 40px !important;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-top: 0px !important;
  margin-bottom: 10px !important;
  max-width: 100px !important;
}
span {
    font-size: 10px;
    color: #c9c9c9;
    display: block;
    font-weight: normal;
}
.table-input {
    outline: none;
}
.table-footer{
    background: #FAFAFA;
    padding:10px;
    padding-bottom: 16px;
}

.rows-per-page-lbl {
  font-family: Chivo;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #9B9B9B;
  mix-blend-mode: normal;
  .inline {
    padding-right: 15px;
  }
}

.row-per-page-select {
    margin: 0px;
    padding: 0px;
    border: 0px;
    background: transparent;
    height: auto;
}
.rows-count{
    font-family: Chivo;
font-style: normal;
font-weight: normal;
font-size: 14px;

color: #9B9B9B;
mix-blend-mode: normal;
}
.prev-next{
    color: #8DC73F;
}
.ascending {
    background-image: url("../images/sort_a.png");
    height: 18px;
    background-repeat: no-repeat;
    background-position-y: center;
    padding-left: 20px;
}
.descending {
  background-image: url("../images/sort_d.png");
  height: 18px;
  background-repeat: no-repeat;
  background-position-y: center;
  padding-left: 20px;
}
.table_icon_small {
    padding:0px 2px;
    height: 12px;
}

/* Style The Dropdown Button */
.dropbtn {
    background-color: rgb(250, 250, 250);;
    color: #9B9B9B;
    border: none;
    cursor: pointer;
    width: 100px;
    font-family: Chivo;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #9B9B9B;
    mix-blend-mode: normal;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: fixed;
    background-color: #ffffff;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-val {
    float:left;
}

.dropdown-icon{
    float: right;
    padding:5px;
}

.price-warning {
  background-color: #ffc800;
  color: white;
  padding: 2px 10px;
  max-width: 600px;
}

/*Dhananjay*/

.form-label{
   line-height: 22px; top: 38px; transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; z-index: 1; transform: scale(1) translate(0px, 0px); transform-origin: left top 0px; pointer-events: none; user-select: none; color:#8DC73F;
}


.update-label{
    font-family:'Source Sans Pro';
    font-size: 14px;
    line-height: 2px;
    color: #678899;
}
.update-input{
    outline-color: #C8DBAF !important;
    font-family: 'Chivo' !important;
    color: #083952 !important;
    text-align: left !important;
    margin:0 !important;
    margin-top: 2px !important;

    padding: 20px 20px !important;

}
.update-error{
    color: red !important;
}
.readonly{
    pointer-events: none;
}
.tbl-orderlisting-header{
    margin-top: 25px !important;
    border-top: 1px solid #EBEBEB !important;
}
.float_right{
    float:right;
}

.closeBtn span{
  font-size: 50px;
  color: #8DC73F;
}
.closeBtn:focus {
    outline: none !important;
}
.text_center{
  text-align: center;
}
.performanceModelhead{
  height: 45px;
  padding-left: 50px;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  line-height: 32px;
  font-size: 24px;
  width: 100%;
  color: #8DC73F;
  -webkit-transition: 0.5s all linear;
  -moz-transition: 0.5s all linear;
  -ms-transition: 0.5s all linear;
  -o-transition: 0.5s all linear;
  transition: 0.5s all linear;
}
.tbl-investors-closed {
  border-top: 1px solid #EBEBEB;
}
.Select-value span{
    color: #083952 !important;
    font-size: 15px !important;
}
.errorvalidation{
  font-size: 15px;
  color: #FF0000;
  font-weight: bold;
  font-family: Source Sans Pro;
}
.css-10nd86i .css-1aya2g8 .css-1rtrksz{
  height: 45px !important;
  width: 90% !important;
}
.allocationcheckboxes{
  text-align: right;
  padding-right: 50px;
}
.allocationcheckboxes .checked{
  margin: 5px;
}
.table {
  width: 100% ;
}

.ui-datatable .ui-datatable-thead>tr>th, .ui-datatable .ui-datatable-tfoot>tr>td{
  background: #fff;
}
.ui-datatable .ui-editable-column input{
  width: 90% !important;
}

.ui-column-title{
  font-family: Source Sans Pro !important;
  font-style: normal !important;
  font-weight: bold !important;
  line-height: 20px !important;
  font-size: 16px !important;
  color: #0A5074;
  cursor: pointer;
}

.dataTableNameColumn {
    font-family: Chivo;
    font-style: normal;
    font-weight: normal;
    line-height: 20px;
    font-size: 13px;
    color: #8DC73F;
}
.dataTableNameColumn .ui-cell-data {
    font-family: Chivo;
    font-style: normal;
    font-weight: normal;
    line-height: 20px;
    font-size: 13px;
    color: #8DC73F;
}
.ui-state-default ui-unselectable-text ui-sortable-column ui-state-active{
        font-family: Source Sans Pro !important;
        font-style: normal !important;
        font-weight: bold !important;
        line-height: 20px !important;
        font-size: 16px !important;
        color: #000 !important;
        cursor: pointer;
}
.tableCols {
  word-wrap: break-word;
}
.tableCols .ui-cell-data{
  font-family: Chivo !important;
  font-style: normal !important;
  line-height: 20px !important;
  font-size: 16px !important;
  color: #0A5074 ;
  text-align: center;
}
.tableButtons{
  font-size: 16px !important;
  color: #fff !important;
  font-family: Chivo !important;
  font-style: normal !important;
  font-weight: normal !important;
  margin-top: 5px;
}
.ui-button.ui-button-success:enabled:hover, .ui-button.ui-button-success:focus, .ui-splitbutton.ui-button-success .ui-button:enabled:hover, .ui-splitbutton.ui-button-success .ui-button:focus{
    background-color: #4cae4c !important;
    border-color: #5cb85c !important;
}
.ui-button.ui-button-warning:enabled:hover, .ui-button.ui-button-warning:focus, .ui-splitbutton.ui-button-warning .ui-button:enabled:hover, .ui-splitbutton.ui-button-warning .ui-button:focus{
    background-color: #f0ad4e !important;
    border-color: #f0ad4e !important;
}

.ui-button.ui-button-sendToTs:enabled:hover, .ui-button.ui-button-sendToTs:focus, .ui-splitbutton.ui-button-warning .ui-button:enabled:hover, .ui-splitbutton.ui-button-sendToTs .ui-button:focus{
    background-color: #0A5074 !important;
    border-color: #0A5074 !important;
}


/* Modal */

.styles_overlay__CLSq-{
  background: rgba(0, 0, 0, 0.08) !important;
}
.styles_closeButton__20ID4{
  display: none !important;
}
.styles_modal__gNwvD{
  margin-top:30px;
  max-width: 90%;
}
.ModalHeader{
  height: 30px;
}



.runAllocationPopup{
  width: 500px;
  text-align: center,

}
.runAllocationPopup p {
  font-family: Chivo !important;
  font-style: normal !important;
  line-height: 20px !important;
  font-size: 20px !important;
  color: #0A5074 !important;
  text-align: center;
  height: 50px
}

.confirmAllocationPopup{
  width: 500px;
  padding:20px;
  text-align: center;
}
.confirmAllocationPopup p {
  font-family: Chivo !important;
  font-style: normal !important;
  line-height: 23px !important;
  font-size: 20px !important;
  color: #0A5074 !important;
  text-align: center;
}


.dataTableTotal{
  font-family: Source Sans Pro !important;
  font-style: normal !important;
  font-weight: bold !important;
  line-height: 20px !important;
  font-size: 16px !important;
  color: #0A5074 !important;
  cursor: pointer;
}
.buttons{
    padding: 10px;
    height: 40px;
    font-size: 20px !important;
    border-radius: 5px;
    width: 90px;
}
.btn-warning{
    background-color: #f0ad4e !important;
    border-color: #f0ad4e !important;
}
.btn.success{
   background-color: #4cae4c !important;
  border-color: #5cb85c !important;
}
.ErrorMessage{
  font-family: Source Sans Pro !important;
  font-style: normal !important;
  line-height: 20px !important;
  font-size: 18px !important;
  color: #FF0000 !important;
  text-align: center;
  display: inline-flex;
}

/* Offering List Styles */
.fade-enter {
	opacity: 0
}
.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.fade-leave {
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0;
  transition: opacity 300ms ease-in;
}



/*////////// New UI CSS ////////////////*/

.topMenuHeader{
  width: 100%;
  padding-top: 25px;
    border-bottom: 1px solid #ddd
}
.topMenuHeader .logo{
  width: 220px !important;
  padding: 0px !important;
  img{
    width: 100px;
    padding-top: 12px;
  }

}

.topheaderMenu{
  display: inline-flex;
  font-weight: bold;

}
.topheaderMenu li{
    width: max-content !important;
    padding: 15px 10px 15px 10px !important;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    color: #8DC73F;
    font-size: 18px;
}

.topheaderMenu li.active {
    background-color: #8DC73F;
    color: #fff;
}

.topheaderMenu  li.active a {
    color: #fff;
}

.topheaderMenu li a {
    color: #8DC73F;
}

.topheaderMenu  li a {
    text-decoration: none;
    color: #9ac051;
    font-weight: bold;
    padding: 15px 0px;
    cursor: pointer;
}
.topheaderMenu  li:hover {
    background-color: #c2e691;
}

.topheaderMenu  li:hover a {
    color: #fff;
}

.btn-logout {
    border: none;
    font-size: 18px;
    cursor: pointer;
    text-shadow: none;
    padding: 10px;
    text-align: center;
    line-height: 15px;
    display: inline-block;
    border-radius: 4px;
    color: #fff;
    background-color: #8DC73F;
    border-color: #8DC73F;
    font-family: Source Sans Pro;
    font-weight: bold;
}
.btn-logout:hover{
    color: #fff;
    background-color: #8DC73F !important;
    border-color: #8DC73F !important;
}


.main_outer_wrapper{
    width: 100%;
    height: calc(100vh - 50px);
    z-index: 0;
    background-color: white;
    display: inline-block;
    vertical-align: top;
    overflow-y: scroll;
    overflow-x: hidden;
}

.offeringSubheader .offering_head{
    position: absolute;
    // width: 91px;
    height: 31px;
    left: 50px;
    // top: 28px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 40px;
    color: #8DC73F;
    font-weight: 600;
}
.offeringGlobalSearch{
  display: inline-flex;
  width: 100%;
  // padding-right: 50px;
}



.offeringGlobalSearch .filterbyContent{
    padding-top: 25px;
    font-weight: bold !important;
    color: #245776;
    font-family: Source Sans Pro;
    font-size: 18px;
}
.offeringGlobalSearch .selectField{
    margin-top: 20px;
    border: 2px solid #8DC73F !important;
    width: 150px;
    margin-left: 20px;


}
.offeringGlobalSearch input[type=text]{
    height: 40px;
    border-radius: 50px;
    border: 2px solid #8DC73F;
    width: 220px;

}
.offeringGlobalSearch .calenderArea {
  display: inline-flex;
}
.offeringGlobalSearch .calenderArea input[type=text]{
    height: 40px !important;
    border-radius: 30px !important;
    border: 2px solid #8DC73F;
    width: 105px;
    margin-left: 10px !important;
    margin-top: 16px !important;
}
.btn-newoffering{
    border: none;
    font-size: 18px;
    cursor: pointer;
    text-shadow: none;
    padding: 10px;
    text-align: center;
    line-height: 15px;
    display: inline-block;
    border-radius: 4px;
    color: #fff;
    background-color: #8DC73F;
    border-color: #8DC73F;
    font-family: Source Sans Pro;
    width: max-content;
    margin-top: 18px;
    border-radius: 10px;
}
.btn-newoffering:hover{
    color: #fff;
    background-color: #8DC73F !important;
    border-color: #8DC73F !important;
}
///***  Offering tabs ****///

.offeringtabs {
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid #e0d8d8;

}
.offeringtabs label {
    order: 1;
    display: block;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    line-height: 24px;
    font-size: 14px;
    text-transform: uppercase;
    padding: 12px 24px;
    color: #000;
    transition: background ease 0.2s;
    cursor: pointer;
    background: #ccc;
}
.offeringtabs .tab {
    order: 99;
    flex-grow: 1;
    width: 100%;
    display: none;
    margin-left:20px;
    background: #fff;

}
.offeringtabs input[type="radio"] {
    display: none;
}
.offeringtabs input[type="radio"]:checked + label {
    background: #8DC73F;
    color: #fff;
}
.offeringtabs input[type="radio"]:checked + label + .tab {
    display: block;
}
.tab-left-label {
    margin-left: 1px;
}
.no_margin{
  margin:0px !important;
}

.offeringList_li{
    margin-left: 20px;
    margin-right: 25px;
    margin-top: 7px;
    padding: 10px;
    border: none !important;
}

.offeringlistrow{
  padding:5px;
  border: 3px solid #ddd;
}

.offeringlistrow .offeringlistbtns .btn{
  font-size: 18px !important;
  font-weight: 600 !important;
}

.offeringlistrow .offeringlistbtns{
  display: inline-grid;
  /* padding-left: 40px; */
  padding-top: 12px;
}
.offeringlistrow .offeringlistLeft{
   padding-left: 30px;
}
.offeringlistrow .offeringlistbtns .gridButtons{
  display: inline-grid;
}

.offeringlistrow .offeringlistbtns .btn-primary{
  background: #245776 !important;
  width: max-content;
  width: 170px;
  height: 42px;
}
.offeringlistrow .offeringlistbtns .btn-primary:hover{
  background: #245776 !important;
}
.offeringlistrow .offeringlistbtns .btn-archive{
  background: #FF0000 !important;
  width: max-content;
  width: 170px;
  height: 42px;
}
.offeringlistrow .offeringlistbtns .btn-archive:hover{
  background: #FF0000 !important;
}
.offeringlistrow .offeringcontent{
  display: grid;
  /*  padding-left: 55px; */
}

.offeringlistrow .offeringcontent .titles {
    /* width: 120px; */
    display: inline-block;
    vertical-align: top;
    color: #cccccc;
    font-weight: 500;
    font-size: 17px;
    line-height: 22px;
}
.offeringlistrow .offeringcontent .sub_titles {
    display: inline-block;
    vertical-align: top;
    color: #000;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    font-family: Source Sans Pro;
}

.confirmationboxText{
  font-family: Source Sans Pro;
  font-size: 16px;
  color: #000;
}
 .btn-archiveSubmit{
  background: #FF0000 !important;
  width: max-content;
  width: 100% !important;
  height: 42px;
  font-size: 18px;
}
.btn-archiveSubmit:hover{
  background: #FF0000 !important;
}

.btn-submit{
    border: none;
    font-size: 18px;
    cursor: pointer;
    text-shadow: none;
    padding: 10px;
    text-align: center;
    line-height: 15px;
    display: inline-block;
    border-radius: 4px;
    color: #fff;
    background-color: #8DC73F;
    border-color: #8DC73F;
    font-family: Source Sans Pro;
    width: max-content;
    margin-top: 18px;
    border-radius: 10px;
    width: 100% !important;
}
.btn-submit:hover{
    color: #fff;
    background-color: #8DC73F !important;
    border-color: #8DC73F !important;
}

.confirmBoxModelOfferingName{
  font-weight: 700;
  color: #245776;
  font-size: 18px !important;
}
.offeringcollapse{
    text-align: center;
    border: 1px solid #aba8a8;
    margin-top: 10px !important;
    width: 100%;
    margin: 0px;
    padding-top: 6px;

}
.offeringcollapse .header{
  font-size: 16px;
  color: #000;
}
.offeringcollapse  input[type=text]{
  width: 97% !important;
}

 .btn-submitprospectus{
    border: none;
    font-size: 18px;
    cursor: pointer;
    text-shadow: none;
    padding: 10px;
    text-align: center;
    line-height: 15px;
    display: inline-block;
    border-radius: 4px;
    color: #fff;
    background-color: #8DC73F;
    border-color: #8DC73F;
    font-family: Source Sans Pro;
    width: max-content;
    margin-top: -10px !important;
    border-radius: 10px;
    width: 250px !important;
}
.btn-submitprospectus:hover{
    color: #fff;
    background-color: #8DC73F !important;
    border-color: #8DC73F !important;
}
.offeringName{
      font-weight: 700;
      color: #245776;
      font-size: 20px;
      line-height: 24px;
      display: inline-block;
      vertical-align: top;
}
.offeringName span{
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
      display: inline-block;
      vertical-align: top;
      margin-left: 5px;
}
.btn:focus {
  outline:none !important;
}




/*  allocation tabs */
.allocationName{
      font-weight: 700;
      color: #245776;
      font-size: 20px;
      line-height: 24px;
      display: inline-block;
      vertical-align: top;
      margin-bottom: 10px;
}
.allocationtabs {
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid #e0d8d8;

}
.allocationtabs label {
    order: 1;
    display: block;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    line-height: 24px;
    font-size: 14px;
    text-transform: uppercase;
    padding: 12px 24px;
    color: #000;
    transition: background ease 0.2s;
    cursor: pointer;
    background: #ccc;
}
.allocationtabs .tab {
    order: 99;
    flex-grow: 1;
    width: 100%;
    display: none;
    margin-left:20px;
    background: #fff;

}
.allocationtabs input[type="radio"] {
    display: none;
}
.allocationtabs input[type="radio"]:checked + label {
    background: #8DC73F;
    color: #fff;
}
.allocationtabs input[type="radio"]:checked + label + .tab {
    display: block;
}
.allocationList_li{
    margin-left: 20px;
    margin-right: 25px;
    margin-top: 7px;
    padding: 10px;
    color : #000000;
}
.green_border{
  border: 3px solid #8DC73F;
}
.blue_border{
  border: 3px solid rgba(8,57,82,1) ;
}

.allocationlistrow{
  padding:5px;
  border: 3px solid #ddd;
}

.allocationlistrow .allocationlistbtns .btn{
  font-size: 18px !important;
  font-weight: 600 !important;
  text-align: center;
}

.allocationlistrow .allocationlistbtns{
  display: inline-grid;
  // padding-left: 40px;
  padding-top: 12px;
}
.allocationlistrow .allocationlistbtns .gridButtons{
  display: inline-grid;
}
.allocationlistrow .allocationlistLeft{
  padding-left: 30px;
}
.allocationlistrow .allocationlistbtns .buttonView{
      margin: auto;
    display: grid;
}
.allocationlistrow .allocationlistbtns .buttonView  .btn-primary{
      width: 250px;
      height: 40px;
      font-size: 20px !important;
}

.allocationlistrow .allocationlistbtns .btn-primary{
  background: #245776 !important;
  width: max-content;
  width: 170px;
  height: 40px;
}
.allocationlistrow .allocationlistbtns .btn-primary:hover{
  background: #245776 !important;
}
.allocationlistrow .allocationlistbtns .btn-archive{
  background: #FF0000 !important;
  width: max-content;
  width: 170px;
}
.allocationlistrow .allocationlistbtns .btn-archive:hover{
  background: #FF0000 !important;
}
.allocationlistrow .allocationcontent{
  display: grid;
  // padding-left: 55px;
}

.allocationlistrow .allocationcontent .titles {
    // width: 120px;
    display: inline-block;
    vertical-align: top;
    color: #cccccc;
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
}
.allocationlistrow .allocationcontent .sub_titles {
    display: inline-block;
    vertical-align: top;
    color: #000;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    font-family: Source Sans Pro;
}



.allocationSubheader .allocation_head{
    position: absolute;
    /*  width: 91px; */
    height: 31px;
    left: 50px;
    /*  top: 28px; */
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 40px;
    color: #8DC73F;
    font-weight: 600;
}
.allocationGlobalSearch{
  display: inline-flex;
  width: 100%;
  padding-right: 80px;
}
.allocationGlobalSearch input[type=text]{
    height: 40px;
    width: 100%;
    border-radius: 50px;
    border: 2px solid #8DC73F;

}
.btn-newallocation{
    border: none;
    font-size: 18px;
    cursor: pointer;
    text-shadow: none;
    padding: 10px;
    text-align: center;
    line-height: 15px;
    display: inline-block;
    border-radius: 4px;
    color: #fff;
    background-color: #8DC73F;
    border-color: #8DC73F;
    font-family: Source Sans Pro;
    width: max-content;
    margin-top: 18px;
    border-radius: 10px;
}
.btn-newallocation:hover{
    color: #fff;
    background-color: #8DC73F !important;
    border-color: #8DC73F !important;
}
.allocation_Detail_header{
    height: 100px;
    padding-left: 50px;
    font-size: 20px;
    padding-top: 20px;
    position: relative;
    top: 10px;
}
.allocation_Detail_header .Headingname{
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 30px;
    color: #8DC73F;
    font-weight: 600;
    margin-left: 30px;
    margin-top: -10px;
}
.allocation_Detail_header .back_icon{
    width: 24px;
    height: 24px;
    background-image: url("../images/back.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    cursor: pointer;
    -webkit-transition: 0.5s all linear;
    -moz-transition: 0.5s all linear;
    -ms-transition: 0.5s all linear;
    -o-transition: 0.5s all linear;
    transition: 0.5s all linear;
}



.offering_Detail_header{
    height: 100px;
    padding-left: 50px;
    font-size: 20px;
    padding-top: 20px;
    position: relative;
    top: 10px;
}
.offering_Detail_header .Headingname{
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 30px;
    color: #8DC73F;
    font-weight: 600;
    margin-left: 30px;
    margin-top: -10px;
}
.offering_Detail_header .back_icon{
    width: 24px;
    height: 24px;
    background-image: url("../images/back.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    cursor: pointer;
    -webkit-transition: 0.5s all linear;
    -moz-transition: 0.5s all linear;
    -ms-transition: 0.5s all linear;
    -o-transition: 0.5s all linear;
    transition: 0.5s all linear;
}

.css-1aya2g8{
  width: 90% !important;
}

.font_bold{
  font-weight: bold !important;
}


.ui-calendar{
  width: 100%;
  font-size: 16px;
}
.ui-calendar input[type=text],{
  height: 45px !important;
  margin: 0px !important;
}
.css-162g8z5{
    width: 90% !important;
    height: 50px !important;
}

.has-Dollar .form-control-feedback {
    /*  right: initial; */
    left: 15px;
    color: #678899;
    top: 35px !important;
    font-size: 16px;
}

.has-Dollar .form-control {
    padding-left: 25px !important;
}

.sendNotificationBtn{
  background-color: #8DC73F !important;
  border-color: #8DC73F !important;
  color: #fff !important;
  font-size: 18px;
  width: max-content !important;
  font-weight: bold;
}
.customerTablefooter{
    text-align: right;
    margin: 20px;
}

.notificationModalhead{
  height: 45px;
  padding-left: 50px;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  line-height: 32px;
  font-size: 24px;
  width: 100%;
  color: #8DC73F;
  -webkit-transition: 0.5s all linear;
  -moz-transition: 0.5s all linear;
  -ms-transition: 0.5s all linear;
  -o-transition: 0.5s all linear;
  transition: 0.5s all linear;
}


.sendNotificationContainer{

}
.sendNotificationContainer .labelheader{
  font-size: 16px ;
  font-weight: bold !important;
  color: #8DC73F;
  font-family: Source Sans Pro;
  margin-top: 15px;
  margin-bottom: 19px;
}
.sendNotificationContainer .notificationTextarea{
  height: 100px !important;
  border: 1px solid #ddd !important;

}
.sendNotificationContainer .sendMailBtn{
    background-color: #8DC73F !important;
    border-color: #8DC73F !important;
    color: #fff !important;
    font-size: 18px;
    width: max-content !important;
    font-weight: bold;
    width: 90% !important;
    text-align: center;
    margin-top:10px;
}

.btn-reset-paswordbtn{
  width: max-content !important;
   background-color: #8DC73F !important;
  border-color: #8DC73F !important;
  color: #fff !important;
}

.btn-delete{
  width: max-content !important;
  background-color: #FF0000 !important;
  border-color: #FF0000 !important;
  color: #fff !important;
}
.confirmmationContent{
    font-weight: 700;
    color: #000;
    font-size: 20px;
    line-height: 24px;
    display: inline-block;
}
.confirmmationContent span{
  color: #245776;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  display: inline-block;
}

.totalCustomers{
    font-weight: 700;
    color: #245776;
    font-size: 18px;
    line-height: 24px;
    display: inline-block;
    padding: 21px;
}
.totalCustomers span{
  color: #245776;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  display: inline-block;
}

.connectedCustomer{
   display: flex;

}

.connectedCustomer .filterbyContent{
    padding-top: 25px;
    font-weight: bold !important;
    color: #245776;
    font-family: Source Sans Pro;
    font-size: 18px;
}
.connectedCustomer .selectField{
    margin-top: 20px;
    border: 2px solid #8DC73F !important;
    width: 150px;
    margin-left: 20px;

}
.connectedCustomer input[type=text]{
    height: 40px;
    border-radius: 50px;
    border: 2px solid #8DC73F;
    width: 250px;

}

.react-toasts-container .react-toasts.success{
  font-weight: bold !important;
  font-size: 16px !important;
  color: #fff !important;

}


